:root {
	color-scheme: dark;
	color: white;
}
* {
    box-sizing: border-box;
	color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.p5Canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    width: 100%;
    height: 100%;
}